/* begin css for comments box */
.comments-box img {
	vertical-align: middle;
}

.comments-box h3 {
	color: #666;
	font-size: 1.7em;
	font-family: arial;
	font-weight: normal;
	letter-spacing: -1px;
	margin: 20px 0 0 0;
}

#respond p {
	color: #777;
	line-height: 1.4em;
	margin: 10px 0 0 0;
}



#author, #email, #url {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F8F8F8;
    border-color: #CCCCCC #E6E6E6 #E6E6E6 #CCCCCC;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
    font-size: 12px;
    margin-bottom: 9px;
    margin-top: 5px;
    padding: 4px;
    width: 320px;
    height: 25px;
    margin-left: 12px;
}
#author:focus, #email:focus, #url:focus {
    background: none repeat scroll 0 0 #FFFFFF;
}

#comment {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F8F8F8;
    border-color: #CCCCCC #E6E6E6 #E6E6E6 #CCCCCC;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
    font-size: 12px;
    margin-top: 5px;
    padding: 4px;
    width: 98%;
}
#comment:focus {
    background: none repeat scroll 0 0 #FFFFFF;
}

#email {
    margin-left: 15px;
}
#url {
    margin-left: 11px;
}


#submit {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F8F8F8;
    border-color: #CCCCCC #E6E6E6 #E6E6E6 #CCCCCC;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    float: left;
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
    font-size: 14px;
    height: 46px;
    margin: 0 0 10px;
    padding: 5px 10px;
}
#submit:hover {
    background: none repeat scroll 0 0 #FFFFFF;
}
#reply-title {
	display: none;
}

/* end */
/* framework for comments */

ol.commentlist {
	margin: 0;
    padding: 0;
}
ol.commentlist li {
	list-style-type: none;
}
ol.commentlist li .comment-body {
	background: #f7f7f7;
    color: #717171;
    border:1px dashed #ccc;
    margin-bottom: 10px;
    padding: 10px;
}
ol.commentlist li .comment-body:hover {
	background-color: #ebebeb;
}
ol.commentlist li.alt { }
ol.commentlist li.bypostauthor p {
	clear: both;
    font-weight: normal;
    margin-bottom: 23px;
    margin-top: 15px;
}
ol.commentlist li.byuser { }
ol.commentlist li.comment-author-admin { }
ol.commentlist li.comment { }
ol.commentlist li div.comment-author { }
ol.commentlist li div.vcard { }
ol.commentlist li div.vcard cite.fn { font-style: normal; font-weight: bold; }
ol.commentlist li div.vcard cite.fn a.url { color: #717171; }
ol.commentlist li div.vcard img.avatar {
    margin-right: 5px;
	border-left: 3px solid #717171;
    float: left;
    margin-bottom: 10px;
}
ol.commentlist li div.vcard img.avatar-32 { }
ol.commentlist li div.vcard img.photo {}
ol.commentlist li div.vcard span.says { display:none; }
ol.commentlist li div.commentmetadata {}
ol.commentlist li div.comment-meta { font-size: 12px; margin: -8px 0 0; }
ol.commentlist li div.comment-meta a { color: #aaa; }
ol.commentlist li p { margin: 15px 0 0 0; }
ol.commentlist li ul { }
ol.commentlist li div.reply { }
ol.commentlist li div.reply a {
	background-color: #E5E5E5;
    display: block;
    float: right;
    font-weight: bold;
    height: 21px;
    margin-right: -10px;
    margin-top: -14px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
}
ol.commentlist li ul.children:before {
    border-bottom: 0px solid #717171;
    content: "";
    margin-top: 26px;
    position: absolute;
    width: 2%;
}
ol.commentlist li ul.children {
	border-left: 4px solid #717171;
}
ol.commentlist li ul.children li {
    list-style: none outside none;
    margin-left: 2em;
}
ol.commentlist li ul.children li {}
ol.commentlist li ul.children li.alt {}
ol.commentlist li ul.children li.bypostauthor {}
ol.commentlist li ul.children li.byuser {}
ol.commentlist li ul.children li.comment {}
ol.commentlist li ul.children li.comment-author-admin {}
ol.commentlist li ul.children li.depth-2 {  }
ol.commentlist li ul.children li.depth-3 { }
ol.commentlist li ul.children li.depth-4 {  }
ol.commentlist li ul.children li.depth-5 {}
ol.commentlist li ul.children li.odd {}
ol.commentlist li.even { }
ol.commentlist li.odd { }
ol.commentlist li.parent { }
ol.commentlist li.pingback { }
ol.commentlist li.thread-alt { }
ol.commentlist li.thread-even {}
ol.commentlist li.thread-odd {}

