@media screen and (max-width: 1120px){
#homepage {
    width: 92%;
    margin: 0 auto;
    text-align: center;
}
.circle {
    display: inline-block;
    float: none;
}
}
@media screen and (max-width: 1020px){
header {
    padding-top: 30px;
}
.logo {
    margin-bottom: 30px;
}
#nav {
    margin-bottom: 50px;
}
.container {
    margin: 0 auto 30px;
    width: 98%;
}
#page {
    height: auto;
    padding-bottom: 20px;
}
#page .content {
    height: auto;
}
.mCSB_scrollTools {
    display: none !important;
}
.mCSB_container {
    margin-right: 10px !important;
}
#page .thumb {
    display: none;
}
#contact form {
    width: 64% !important;
}
#contact .inp {
    width: 38%;
}
#contact .msg {
    width: 49%;
    margin-right: 5%;
}
#contact .sub {
    margin-right: 5%;
}
#contact .contact-info {
    margin-left: 0;
    width: 27%;
}
#contact .sub:focus {
    margin-right: 5%;
}
#single-gallery .v-one {
    height: 220px;
    margin-right: 2%;
    width: 26%;
}
#single-gallery .v-two {
    height: 160px;
    margin-right: 2%;
    width: 26%;
}
#single-gallery .v-three {
    height: 160px;
    width: 37%;
}
#single-gallery .v-four {
    height: 160px;
    top: 235px;
    width: 26%;
}
#single-gallery .v-five {
    height: 220px;
    margin-right: 2%;
    width: 38%;
}
#single-gallery .v-six {
    height: 220px;
    width: 25%;
}
#single-gallery .post .thumb-hover {
    height: 100%;
    position: absolute;
    width: 100%;
}
#portfolio-slider {
    display: none;
}
#blog {
    height: auto;
    padding: 35px 30px 20px;
}
#blog .content {
    height: auto;
}
.top-titles {
    text-align: center;
}
.top-titles h2 {
    display: inline-block;
    float: none;
}
.top-titles h3 {
    display: inline-block;
    float: none;
}
#clients {
    text-align: center;
}
#clients .single-clients {
    display: inline-block;
    float: none;
}
#team {
    text-align: center;
}
#team .single-team {
    display: inline-block;
    float: none;
}
.sidel {
    width: 66% !important;
}
.sidebar {
    width: 30% !important;
}
#___plus_0 {
    width: 100% !important;
}
#___plus_0 iframe {
    width: 100% !important;
}
.sidebar .widgetbox #searchform #s {
    width: 60%;
}
.sidebar .widgetbox #searchform #searchsubmit {
    width: 35%;
}
}
@media screen and (max-width: 765px){
.sidel {
    float: none !important;
    width: 100% !important;
}
.sidebar {
    float: none !important;
    margin-top: 20px;
    width: 100% !important;
}
.logo {
    margin-bottom: 20px;
}
#nav {
    margin-bottom: 30px;
}
.tinynav_label, .tinynav1_label {
    display: none;
}
#nav ul { display: none }
.tinynav {
    display: block;
    margin: 0 auto;
    width: 237px;
}
content {
    display: block;
    text-align: center;
    width: 100%;
}
.circle {
    margin-top: 100px;
    width: 250px;
}
.circle .c-img {
    height: 260px;
    width: 260px;
    overflow: hidden;
}
.c-details {
    height: 133px;
    right: -20px;
    width: 133px;
}
.circle .shadow {
    top: 225px;
}
.c-content {
    height: 116px;
    width: 116px;
}
.c-content .det {
    display: none;
}
.circle .shadow {
    bottom: 15px;
}
#page, #blog, #contact {
    text-align: left;
}
#contact .contact-info {
    margin-left: 3px;
    width: 187px;
}
#contact form {
    width: 100% !important;
}
#contact .inp {
    width: 220px;
}
#contact .msg {
    float: left;
    margin-right: 5%;
    margin-top: 0;
    width: 220px;
}
#contact .sub {
    float: left;
    margin-bottom: 20px;
    margin-right: 5%;
    margin-top: 5px;
}
.error_wordss {
    display: block;
    margin-bottom: 5px;
    margin-top: -11px;
    position: inherit;
    top: 340px;
}
.after_send {
    margin-bottom: 30px;
    margin-top: 9px;
}
#blog .thumb {
    margin-bottom: 70px;
}
#gallery .single-gallery {
    display: inline-block;
    float: none;
    margin: 0 10px 20px;
    vertical-align: top;
}
#single-gallery .post {
    display: inline-block;
    float: none;
    height: 220px;
    margin: 0 7px 10px;
    width: 250px;
}
#single-gallery .v-four {
    position: relative;
    top: 0;
}
#portfolio .single-portfolio {
    display: inline-block;
    float: none;
    margin: 0 5px 15px;
    vertical-align: top;
}
#social {
    margin: 50px auto 45px;
    width: 100%;
}
#social .latest-twitts:before {
    left: -8%;
}
#social .latest-twitts {
    float: none;
    margin-left: 8%;
    padding-left: 3%;
    width: 86%;
}
#social .social {
    float: none;
    height: 20px;
    margin: 40px auto 0;
    width: 95px;
}
.one_half {
    width: 100%;
}
.one_third {
    width: 100%;
}
.one_fourth {
    width: 100%;
}
.one_fifth {
    width: 100%;
}
}