/**------------------------------------------------
            Typography
------------------------------------------------**/
blockquote {
    border-left: 5px solid #CCCCCC;
    border-radius: 15px 15px 15px 15px;
    color: #717171;
    float: left;
    font-size: 15px;
    margin-bottom: 20px;
    margin-left: 0;
    padding: 10px 20px 2px;
}
blockquote p {
    font-size: 15px !important;
    padding-top: 5px !important;
}

h1{font-size: 26px;color: #717171;}
h2{font-size: 24px;color: #717171;}
h3{font-size: 20px;color: #717171;}
h4{font-size: 18px;color: #717171;}
h5{font-size: 16px;color: #717171;}
h6{font-size: 14px;color: #717171;}

h1,h2,h3,h4,h5,h6{margin-bottom: 10px;}

/* ***********************
--------------------------------------
------------COLUMNS----------
--------------------------------------
*************************/
.full { display: inline; float: left; position: relative; margin-left: 0px; margin-right: 0px; }
.one_half { width: 48% }
.one_third { width: 30.66% }
.two_thirds { width: 65.33% }
.one_fourth { width: 22% ; }
.three_fourths { width: 74% }
.one_fifth { width: 16.8% }
.four_fifths { width: 79.2% }
.one_half, .one_third, .two_thirds, .one_fourth, .three_fourths, .one_fifth, .two_fifth, .three_fifths, .four_fifths { position: relative; margin: 0; margin-right: 3.8%; float: left; }
.one_half p, .one_third p, .two_thirds p, .one_fourth p, .three_fourths p, .one_fifth p, .two_fifth p, .three_fifths p, .four_fifths p {margin: 0 0 1.5em 0;}
.one_half.last, .one_third.last, .one_fourth.last, .one_fifth.last, .two_thirds.last {margin-right:0%;}
.one_half, .one_third, .two_thirds, .one_fourth, .three_fourths, .one_fifth, .two_fifth, .three_fifths, .four_fifths {margin-top:10px;}


/* purche button */
.button_purche{display:inline-block; margin:5px; margin-left:0px;}
.button_purche_left{ background: url(../images/buttons/bigButtonsLeftPurchase.png) center no-repeat; width:51px;height:55px;float:left;}
.button_purche_right{ background: url(../images/buttons/bigButtonsRight.png) center repeat-x;height:55px; display:inline-block;float:left;padding:0px 20px 0 20px;}
.button_purche_right_top{width:100%; font-size:16px !important;padding-top:13px;text-transform:uppercase; line-height:14px;}
.button_purche_right_bottom{width:100%;  font-size:13px !important;text-transform:capitalize;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);}
.button_purche:hover{}
    
.button_purche a:active{  }


/* download button */
.button_download{display:inline-block;margin:5px; margin-left:0px;}
.button_download_left{ background: url(../images/buttons/bigButtonsLeftDownload.png) center no-repeat; width:51px;height:55px;float:left;}
.button_download_right{ background: url(../images/buttons/bigButtonsRight.png) center repeat-x;height:55px; display:inline-block;float:left;padding:0px 20px 0 20px;}
.button_download_right_top{width:100%; font-size:16px !important;padding-top:13px;text-transform:uppercase; line-height:14px;}
.button_download_right_bottom{width:100%;  font-size:13px !important;text-transform:capitalize;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);}
.button_download:hover{}
    
.button_download a:active{  }

/* search button */
.button_search{display:inline-block; margin:5px; margin-left:0px;}
.button_search_left{ background: url(../images/buttons/bigButtonsLeftSearch.png) center no-repeat; width:51px;height:55px;float:left;}
.button_search_right{ background: url(../images/buttons/bigButtonsRight.png) center repeat-x;height:55px; display:inline-block;float:left;padding:0px 20px 0 20px;}
.button_search_right_top{width:100%; font-size:16px !important;padding-top:13px;text-transform:uppercase; line-height:14px;}
.button_search_right_bottom{width:100%;  font-size:13px !important;text-transform:capitalize;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);}
.button_search:hover{}
    
.button_search a:active{  }

/*all butons*/
.buttonshort {margin:10px 20px 0px 0;float: left; display: inline-block;}
.buttonshort img{width: 16px; height: 16px;padding-right:10px;padding-top:4px; float:left;}
.buttonshort .iconbutton{ display: inline-block; float: left; width: 30px;}
.buttonshort .buttonleft{float:left;}

/*dark button */

.buttondark{  display:inline-block;cursor:pointer;  background: #25252B;  font-size: 13px;  padding: 8px 20px 8px 20px; text-align:center; border: 1px solid #111;

    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
     }
.buttondark a, .buttondark a:hover{ color: #EAEAEA !important; text-shadow: 1px 1px 0px black;}
.buttondark:hover{  opacity:0.85;filter:alpha(opacity=85); /* For IE8 and earlier */color: #FFF;border: 1px solid #111;}
    
.buttondark a:active{  }





/* blue button */
.buttonblue{ display:inline-block; cursor:pointer;  background: #2689D5; font-size: 13px;  padding: 8px 20px 8px 20px; text-align:center; border: 1px solid #1777c1;

     }
.buttonblue a, .buttonblue a:hover{ color: #EAEAEA !important; text-shadow: 1px 1px 0px black;}
.buttonblue:hover{ opacity:0.85;filter:alpha(opacity=85); /* For IE8 and earlier */color: #FFF;}
    
.buttonblue a:active{  }
/* red button */
.buttonred{  cursor:pointer;  background: #CC3333; float: left; font-size: 13px;  padding: 8px 20px 8px 20px; text-align:center; border: 1px solid #ab1b1b;

     }
.buttonred a, .buttonred a:hover{ color: #EAEAEA !important; text-shadow: 1px 1px 0px black;}
.buttonred:hover{  opacity:0.85;filter:alpha(opacity=85); /* For IE8 and earlier */color: #FFF;}
    
.buttonred a:active{  }

/* button black */
.buttonblack{  cursor:pointer;  background: #1B1B1C; float: left; font-size: 13px;  padding: 8px 20px 8px 20px; text-align:center; border: 1px solid #000;}
.buttonblack a, .buttonblack a:hover{ color: #EAEAEA !important; text-shadow: 1px 1px 0px black;}
.buttonblack:hover{  background: #2689D5;color: #FFF;border: 1px solid #1777c1;}
    
.buttonblack a:active{  }


/*yellow button CSS3 */
.buttonyellow{ 
    background-color:#FFC347;
    //background-color:#FFC044;
    cursor:pointer;  float: left; font-size: 13px;  padding: 8px 20px 8px 20px; text-align:center; border: 1px solid #db9a3c;
     }
.buttonyellow a,  .buttonyellow a:hover{ color: #9d6736 !important; }
.buttonyellow:hover{  opacity:0.85;filter:alpha(opacity=85); /* For IE8 and earlier */ }
    
.buttonyellow a:active{  }

/*green button CSS3 */
.buttongreen{ 
    background-color:#85A51D;
    //background-color:#85A51D;
    cursor:pointer;  float: left; font-size: 13px;  padding: 8px 20px 8px 20px; text-align:center; border: 1px solid #74930e;
     }
.buttongreen a,  .buttongreen a:hover{ color: #eaeaea !important; text-shadow: 1px 1px 0px black;}
.buttongreen:hover{  opacity:0.85;filter:alpha(opacity=85); /* For IE8 and earlier */ }
    
.buttongreen a:active{  }

/*pink button CSS3 */
.buttonpink{ 
    background-color:#f548ae;
    //background-color:#f548ae;
    cursor:pointer;  float: left; font-size: 13px;  padding: 8px 20px 8px 20px; text-align:center; border: 1px solid #e13098;
     }
.buttonpink a,  .buttonpink a:hover{ color: #eaeaea !important;text-shadow: 1px 1px 0px black; }
.buttonpink:hover{  opacity:0.85;filter:alpha(opacity=85); /* For IE8 and earlier */ }
    
.buttonpink a:active{  }

/*orange button CSS3 */
.buttonorange{ 
    background-color:#E35E12;
    //background-color:#E35E12;
    cursor:pointer;  float: left; font-size: 13px;  padding: 8px 20px 8px 20px; text-align:center; border: 1px solid #c84d06;
     }
.buttonorange a,  .buttonorange a:hover{ color: #eaeaea !important; text-shadow: 1px 1px 0px black;}
.buttonorange:hover{  opacity:0.85;filter:alpha(opacity=85); /* For IE8 and earlier */ }
    
.buttonorange a:active{  }

/* MODERN BUTTONS */
/* yellow gradient*/
.buttonyellow_modern{ background-image: linear-gradient(bottom, rgb(255,188,64) 0%, rgb(255,217,91) 100%);
    background-image: -o-linear-gradient(bottom, rgb(255,188,64) 0%, rgb(255,217,91) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(255,188,64) 0%, rgb(255,217,91) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(255,188,64) 0%, rgb(255,217,91) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(255,188,64) 0%, rgb(255,217,91) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(255,188,64)),
        color-stop(1, rgb(255,217,91))
    );
    display: inline-block;
    border: 1px solid #db9a3c;
    
    -webkit-box-shadow: inset 0px 1px 1px #fff;
    -moz-box-shadow: inset 0px 1px 1px #fff;
    box-shadow: inset 0px 1px 1px #fff;
  
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    cursor:pointer;
    font-size: 12px;
    text-shadow: 0px 1px 1px #FFDA5B;
    float:left;
    color: #9d6736;
    text-align:center;
    padding: 9px 20px 8px 20px; 
    background-color:#FFC044;
     }
.buttonyellow_modern a,  .buttonyellow_modern a:hover{ color: #9d6736 !important; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);}
.buttonyellow_modern:hover{ opacity:0.85;filter:alpha(opacity=85); /* For IE8 and earlier */ border: 1px solid #f4be6f; color: #9d6736;}
    
.buttonyellow_modern a:active{  }

/* red gradient */
.buttonred_modern{ 
    background-image: linear-gradient(bottom, rgb(218,65,65) 0%, rgb(204,51,51) 100%);
    background-image: -o-linear-gradient(bottom, rgb(218,65,65) 0%, rgb(204,51,51) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(218,65,65) 0%, rgb(204,51,51) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(218,65,65) 0%, rgb(204,51,51) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(218,65,65) 0%, rgb(204,51,51) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(218,65,65)),
        color-stop(1, rgb(204,51,51))
    );

    display: inline-block;
    border: 1px solid #a20806;
    
    -webkit-box-shadow: inset 0px 1px 1px #f57c79;
    -moz-box-shadow: inset 0px 1px 1px #f57c79;
    box-shadow: inset 0px 1px 1px #f57c79;
  
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    cursor:pointer;
    font-size: 12px;
    text-shadow: 0px 1px 1px #FFDA5B;
    float:left;
    text-align:center;
    padding: 9px 20px 8px 20px; 
    background-color:#da4141;

     }
.buttonred_modern a, .buttonred_modern a:hover{ color: #5c0301 !important; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);}
.buttonred_modern:hover{opacity:0.85;filter:alpha(opacity=85); /* For IE8 and earlier */  border: 1px solid #d84440; color: #9d6736;}
    
.buttonred_modern a:active{  }


/* dark gradient */
.buttondark_modern{ 
    background-image: linear-gradient(bottom, rgb(59,68,80) 0%, rgb(48,54,61) 100%);
    background-image: -o-linear-gradient(bottom, rgb(59,68,80) 0%, rgb(48,54,61) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(59,68,80) 0%, rgb(48,54,61) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(59,68,80) 0%, rgb(48,54,61) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(59,68,80) 0%, rgb(48,54,61) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(59,68,80)),
        color-stop(1, rgb(48,54,61))
    );

  
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    
    display: inline-block;
    border: 1px solid #26292c;
    
    -webkit-box-shadow: inset 0px 1px 1px #5a6c85;
    -moz-box-shadow: inset 0px 1px 1px #5a6c85;
    box-shadow: inset 0px 1px 1px #5a6c85;
  
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    cursor:pointer;
    font-size: 12px;
    text-shadow: 0px 1px 1px #FFDA5B;
    float:left;
    color: #9d6736;
    text-align:center;
    padding: 9px 20px 8px 20px; 
    background-color:#353b41;
    
     }
.buttondark_modern a, .buttondark_modern a:hover{ color: #aeaeae !important; text-shadow: 0px 1px 1px #111;}
.buttondark_modern:hover{ opacity:0.85;filter:alpha(opacity=85); /* For IE8 and earlier */ border: 1px solid #2D3237; color: #9d6736;}
    
.buttondark_modern a:active{  }

/*blue*/
.buttonblue_modern{ 
    background-image: linear-gradient(bottom, rgb(21,147,205) 0%, rgb(12,130,185) 100%);
    background-image: -o-linear-gradient(bottom, rgb(21,147,205) 0%, rgb(12,130,185) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(21,147,205) 0%, rgb(12,130,185) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(21,147,205) 0%, rgb(12,130,185) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(21,147,205) 0%, rgb(12,130,185) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(21,147,205)),
        color-stop(1, rgb(12,130,185))
    );
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    
    display: inline-block;
    border: 1px solid #066e9e;
    
    -webkit-box-shadow: inset 0px 1px 1px #4fbdf0;
    -moz-box-shadow: inset 0px 1px 1px #4fbdf0;
    box-shadow: inset 0px 1px 1px #4fbdf0;
  
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    cursor:pointer;
    font-size: 12px;
    text-shadow: 0px 1px 1px #FFDA5B;
    float:left;
    text-align:center;
    padding: 9px 20px 8px 20px; 
    background-color:#1593cd;
    
     }
.buttonblue_modern a, .buttonblue_modern a:hover{ color: #003c58 !important; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);}
.buttonblue_modern:hover{opacity:0.85;filter:alpha(opacity=85); /* For IE8 and earlier */  border: 1px solid #137ccb; color: #9d6736;}
    
.buttonblue_modern a:active{  }

/*pink*/
.buttonpink_modern{ 
    background-image: linear-gradient(bottom, rgb(245,72,173) 49%, rgb(232,50,156) 75%);
    background-image: -o-linear-gradient(bottom, rgb(245,72,173) 49%, rgb(232,50,156) 75%);
    background-image: -moz-linear-gradient(bottom, rgb(245,72,173) 49%, rgb(232,50,156) 75%);
    background-image: -webkit-linear-gradient(bottom, rgb(245,72,173) 49%, rgb(232,50,156) 75%);
    background-image: -ms-linear-gradient(bottom, rgb(245,72,173) 49%, rgb(232,50,156) 75%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.49, rgb(245,72,173)),
        color-stop(0.75, rgb(232,50,156))
    );
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    
    display: inline-block;
    border: 1px solid #c9137e;
    
    -webkit-box-shadow: inset 0px 1px 1px #f566ba;
    -moz-box-shadow: inset 0px 1px 1px #f566ba;
    box-shadow: inset 0px 1px 1px #f566ba;
  
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    cursor:pointer;
    font-size: 12px;
    text-shadow: 0px 1px 1px #FFDA5B;
    float:left;
    text-align:center;
    padding: 9px 20px 8px 20px; 
    background-color:#f548ad;
    
     }
.buttonpink_modern a, .buttonpink_modern a:hover{ color: #9b025c !important;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);}
.buttonpink_modern:hover{opacity:0.85;filter:alpha(opacity=85); /* For IE8 and earlier */  border: 1px solid #c9137e; color: #9d6736;}
    
.buttonpink_modern a:active{  }

/*orange*/
.buttonorange_modern{ 
    background-image: linear-gradient(bottom, rgb(238,111,37) 49%, rgb(227,95,18) 75%);
    background-image: -o-linear-gradient(bottom, rgb(238,111,37) 49%, rgb(227,95,18) 75%);
    background-image: -moz-linear-gradient(bottom, rgb(238,111,37) 49%, rgb(227,95,18) 75%);
    background-image: -webkit-linear-gradient(bottom, rgb(238,111,37) 49%, rgb(227,95,18) 75%);
    background-image: -ms-linear-gradient(bottom, rgb(238,111,37) 49%, rgb(227,95,18) 75%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.49, rgb(238,111,37)),
        color-stop(0.75, rgb(227,95,18))
    );
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    
    display: inline-block;
    border: 1px solid #c54f0b;
    
    -webkit-box-shadow: inset 0px 1px 1px #f48c51;
    -moz-box-shadow: inset 0px 1px 1px #f48c51;
    box-shadow: inset 0px 1px 1px #f48c51;
  
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    cursor:pointer;
    font-size: 12px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
    float:left;
    text-align:center;
    padding: 9px 20px 8px 20px; 
    background-color:#f3742b;
    
     }
.buttonorange_modern a, .buttonorange_modern a:hover{ color: #873202 !important;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);}
.buttonorange_modern:hover{opacity:0.85;filter:alpha(opacity=85); /* For IE8 and earlier */ }
    
.buttonorange_modern a:active{  }

/*green*/
.buttongreen_modern{ 
    background-image: linear-gradient(bottom, rgb(133,165,29) 49%, rgb(123,153,23) 75%);
    background-image: -o-linear-gradient(bottom, rgb(133,165,29) 49%, rgb(123,153,23) 75%);
    background-image: -moz-linear-gradient(bottom, rgb(133,165,29) 49%, rgb(123,153,23) 75%);
    background-image: -webkit-linear-gradient(bottom, rgb(133,165,29) 49%, rgb(123,153,23) 75%);
    background-image: -ms-linear-gradient(bottom, rgb(133,165,29) 49%, rgb(123,153,23) 75%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.49, rgb(133,165,29)),
        color-stop(0.75, rgb(123,153,23))
    );
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    
    display: inline-block;
    border: 1px solid #6f8d0d;
    
    -webkit-box-shadow: inset 0px 1px 1px #a6c73b;
    -moz-box-shadow: inset 0px 1px 1px #a6c73b;
    box-shadow: inset 0px 1px 1px #a6c73b;
  
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    cursor:pointer;
    font-size: 12px;
    text-shadow: 0px 1px 1px #FFDA5B;
    float:left;
    text-align:center;
    padding: 9px 20px 8px 20px; 
    background-color:#85a51d;
    
     }
.buttongreen_modern a, .buttongreen_modern a:hover{ color: #4e6505 !important; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);}
.buttongreen_modern:hover{opacity:0.85;filter:alpha(opacity=85); /* For IE8 and earlier */  border: 1px solid #6f8d0d;}
    
.buttongreen_modern a:active{  }

/* ***********************

/*ribbon all*/
.ribbon{float:left; margin:10px 10px 10px 0;}

/*ribbon red*/
.ribbon_left_red{background: url(../images/buttons/ribbonRedLeft.png) center no-repeat; width:34px; height:40px; float:left;}
.ribbon_center_red{background: url(../images/buttons/ribbonRed.png) center repeat-x;min-width: 5px;  display:inline-block;  height:40px;float:left;}
.ribbon_center_red a{padding:9px 15px 0 15px; display:inline-block;text-transform:uppercase; font-size:20px; color:#631c1b !important;text-shadow:0 1px 0 rgba(255,255,255,0.25);font-weight:bold;}
.ribbon_right_red{background: url(../images/buttons/ribbonRedRight.png) center no-repeat; width:22px; height:40px;float:left;}
.ribbon_center_red a:hover {color:#631c1b !important;}

/*ribbon blue*/
.ribbon_left_blue{background: url(../images/buttons/ribbonBlueLeft.png) center no-repeat; width:34px; height:40px; float:left;}
.ribbon_center_blue{background: url(../images/buttons/ribbonBlue.png) center repeat-x;min-width: 5px;  display:inline-block;  height:40px;float:left;}
.ribbon_center_blue a{padding:9px 15px 0 15px; display:inline-block;text-transform:uppercase; font-size:20px; color:#2e4c50 !important;text-shadow:0 1px 0 rgba(255,255,255,0.25);font-weight:bold;}
.ribbon_right_blue{background: url(../images/buttons/ribbonBlueRight.png) center no-repeat; width:22px; height:40px;float:left;}
.ribbon_center_blue a:hover {color:#2e4c50 !important;}

/*ribbon white*/
.ribbon_left_white{background: url(../images/buttons/ribbonWhiteLeft.png) center no-repeat; width:34px; height:40px; float:left;}
.ribbon_center_white{background: url(../images/buttons/ribbonWhite.png) center repeat-x;min-width: 5px;  display:inline-block;  height:40px;float:left;}
.ribbon_center_white a{padding:9px 15px 0 15px; display:inline-block;text-transform:uppercase; font-size:20px; color:#2a2b2c !important;text-shadow:0 1px 0 rgba(255,255,255,0.25);font-weight:bold;}
.ribbon_right_white{background: url(../images/buttons/ribbonWhiteRight.png) center no-repeat; width:22px; height:40px;float:left;}
.ribbon_center_white a:hover {color:#2a2b2c !important;}

/*ribbon green*/
.ribbon_left_green{background: url(../images/buttons/ribbonGreenLeft.png) center no-repeat; width:34px; height:40px; float:left;}
.ribbon_center_green{background: url(../images/buttons/ribbonGreen.png) center repeat-x;min-width: 5px;  display:inline-block;  height:40px;float:left;}
.ribbon_center_green a{padding:9px 15px 0 15px; display:inline-block;text-transform:uppercase; font-size:20px; color:#455a01 !important;text-shadow:0 1px 0 rgba(255,255,255,0.25);font-weight:bold;}
.ribbon_right_green{background: url(../images/buttons/ribbonGreenRight.png) center no-repeat; width:22px; height:40px;float:left;}
.ribbon_center_green a:hover {color:#455a01 !important;}

/*ribbon yellow*/
.ribbon_left_yellow{background: url(../images/buttons/ribbonYellowLeft.png) center no-repeat; width:34px; height:40px; float:left;}
.ribbon_center_yellow{background: url(../images/buttons/ribbonYellow.png) center repeat-x;min-width: 5px;  display:inline-block;  height:40px;float:left;}
.ribbon_center_yellow a{padding:9px 15px 0 15px; display:inline-block;text-transform:uppercase; font-size:20px; color:#875b05 !important;text-shadow:0 1px 0 rgba(255,255,255,0.25);font-weight:bold;}
.ribbon_right_yellow{background: url(../images/buttons/ribbonYellowRight.png) center no-repeat; width:22px; height:40px;float:left;}
.ribbon_center_yellow a:hover {color:#875b05 !important;}

.dropcap {
    display: block;
    float: left;
    font-size: 50px;
    line-height: 40px;
    margin: 5px 8px 0 0;
}
.break { background: none; line-height: 30px; position: relative; clear: both;
}
.black { background-color: #000; color: #fff; padding: 2px 3px;
}
.yellow { background-color: #FAF891; padding: 2px 3px;
}
.blue { background-color: #C9F5F2; padding: 2px 3px;
}
.green { background-color: #D1FAAF; padding: 2px 3px;
}
/*circle list*/
.circle ul { list-style: none !important; padding: 0; margin: 0;
}
.circle ul li { margin: 5px 0 0 5px; padding-left: 25px; background: url(../images/buttons/bullet-circle-black.png) no-repeat 0 6px;
}
/*comment list*/
.commentlistshort ul { list-style: none !important; padding: 0; margin: 0;
}
.commentlistshort ul li { margin: 5px 0 0 5px; padding-left: 25px; background: url(../images/buttons/list-comment.png) no-repeat 0 2px;
}
/*mail list*/
.maillist ul { list-style: none !important; padding: 0; margin: 0;
}
.maillist ul li { margin: 5px 0 0 5px; padding-left: 25px; background: url(../images/buttons/list-mail.png) no-repeat 0 2px;
}
/*plus list*/
.pluslist ul { list-style: none !important; padding: 0; margin: 0;
}
.pluslist ul li { margin: 5px 0 0 5px; padding-left: 25px; background: url(../images/buttons/list-plus.png) no-repeat 0 2px;
}
/*ribbon list*/
.ribbonlist ul { list-style: none !important; padding: 0; margin: 0;
}
.ribbonlist ul li { margin: 5px 0 0 5px; padding-left: 25px; background: url(../images/buttons/list-ribbon.png) no-repeat 0 2px;
}
/*settings list*/
.settingslist ul { list-style: none !important; padding: 0; margin: 0;
}
.settingslist ul li { margin: 5px 0 0 5px; padding-left: 25px; background: url(../images/buttons/list-settings.png) no-repeat 0 2px;
}
/*star list*/
.starlist ul { list-style: none !important; padding: 0; margin: 0;
}
.starlist ul li { margin: 5px 0 0 5px; padding-left: 25px; background: url(../images/buttons/list-star.png) no-repeat 0 2px;
}
/*image list*/
.imagelist ul { list-style: none !important; padding: 0; margin: 0;
}
.imagelist ul li { margin: 5px 0 0 5px; padding-left: 25px; background: url(../images/buttons/list-image.png) no-repeat 0 2px;
}
/*tick list*/
.ticklist ul { list-style: none !important; padding: 0; margin: 0;
}
.ticklist ul li { margin: 5px 0 0 5px; padding-left: 25px; background: url(../images/buttons/list-tick.png) no-repeat 0 2px;
}
/*settings list*/
.linklist ul { list-style: none !important; padding: 0; margin: 0;
}
.linklist ul li { margin: 5px 0 0 5px; padding-left: 25px; background: url(../images/buttons/list-link.png) no-repeat 0 2px;
}
/*arrow list*/
.arrowul  ul { list-style: none !important; padding: 0; margin: 0;
}
.arrowul  ul li { margin: 5px 0 0 5px; padding-left: 25px; background: url(../images/buttons/list-arrow.png) no-repeat 0px 2px;
}
.arrow_point  ul { list-style: none !important; padding: 0; margin: 0;
}
.arrow_point ul li { margin: 5px 0 0 5px; padding-left: 25px; background: url(../images/buttons/bullet.png) no-repeat 0px 8px;
}
.dropcap { display: block; float: left; font-size: 50px; line-height: 40px; margin: 5px 8px 0 0;
}
.question h3, .success h3, .info h3, .error h3 {
    color: #FFFFFF !important;
    font-size: 20px;
    line-height: 20px;
    padding: 3px 20px 22px 70px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
.success { background: #80a310 url(../images/buttons/successBoxIcon.png) 20px center no-repeat; margin:10px 0;
}
.question { background: #F6AD1F url(../images/buttons/questionBoxIcon.png) 20px center no-repeat; margin:10px 0;
}
.info { background: #1BAACC url(../images/buttons/infoBoxIcon.png) 20px center no-repeat; margin:10px 0;
}
.error { background: #CE4621 url(../images/buttons/errorBoxIcon.png) 20px center no-repeat; margin:10px 0;
}
.post_entry ul li {
    line-height: 21px;
}
/*accordion*/
.accordion{width:100%;margin-bottom:10px;display:inline-block}
.accordion h3{  line-height:30px;padding: 1px 0 0 10px; }
.ui-accordion-content{
    background-color: #F7F7F7;
    margin-bottom: 10px;
    margin-top: -7px;
    padding: 10px;
}
.ui-accordion-content p{margin:0px !important; }

/*progress bar*/

.progressbar{height:20px; float:right;display:inline-block;border:1px solid #E2E2E2; width:100%;margin-bottom:10px;}
.ui-progressbar-value{height:20px;}

.success a { font-weight: bold; color: #66B500;
}
.question a { font-weight: bold; color: #CB2A19;
}
.info a { font-weight: bold; color: #0092F5;
}
.error a { font-weight: bold; color: #A58100;
}
/* root element for tabs   */

.tabwrap{float:left;width:100%;}

ul.tabs { margin: 0 !important; padding: 0; height: 36px;
}
/* single tab  */
ul.tabs li { float: left; padding: 0; margin: 0; list-style-type: none;
}
/* link inside the tab. uses a background image  */
ul.tabs a {
    background-color: #f1f1f1;
    border-bottom: 0 none;
    display: block;
    float: left;
    font-size: 17px;
    height: 18px;
    margin-right: 1px;
    outline: 0 none;
    padding: 8px 20px 10px;
    position: relative;
    text-decoration: none;
}
ul.tabs a:hover { background-color: #F7F7F7;
}
/* selected tab  */
ul.tabs a.current { background-color: #717171;color:#fff;
}
/* tab pane  */
.panes div {
    background-color: #F7F7F7;
    border-top: 1px solid #717171;
    display: none;
    margin-bottom: 25px;
    padding: 15px;
}
blockquote.pullquote { width: 40%; float: left; margin: 0 10px; border: 0; font-style: italic; line-height: 150%;
}
blockquote.pushquote { width: 40%; float: right; margin: 0 10px; border: 0; font-style: italic; line-height: 150%;
}
.divider { background: url(../images/buttons/break.png) center repeat-x line-height: 60px; position: relative; clear: both;
}
.dividertop { position: relative; background: url(../images/buttons/break.png) center repeat-x; display: block; line-height: 60px; width: 100%; clear: both; font-size: 10px;
}
.dividertop a { float: right; color: #ccc; margin: 0 0 0 20px;
}
.break { background: none; line-height: 30px; position: relative; clear: both;
}
.pad { background: none; height: 0px; clear: both;
}
.padnoslider { background: none; height:0px; clear: both;
}

/* Accordion
=========================================================*/
.ui-accordion .ui-accordion-header {
    display: block; 
    cursor: pointer; 
    position: relative; 
    zoom: 1; 
}

.accordion h3 {
    padding:6px 15px;
    margin-bottom:7px;
    background: none repeat scroll 0 0 #f1f1f1;
}
.accordion h3 a {
    font-size: 18px;
}

.accordion p {
    padding:5px 15px 17px 15px;
}

.accordion .ui-icon-triangle-1-e {
    background:url(../images/buttons/accordion-icons.png) no-repeat 0 0;
    width: 11px;
    height: 12px;
    float: right;
    margin-top: 11px;
}

.accordion .ui-icon-triangle-1-s {
    background:url(../images/buttons/accordion-icons.png) no-repeat -14px -4px;
    width: 9px;
    height: 4px;
    float: right;
    margin-top: 16px;
}

.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    position: absolute;
    left: .5em;
    top: 50%;
    margin-top: -8px; 
}

.ui-accordion .ui-accordion-content {
    overflow: hidden;
    zoom: 1; 
}

.accordion h3.ui-state-active {
    background: none repeat scroll 0 0 #717171;
}

.accordion h3.ui-state-active a {
    color: #FFF;
}
h2.trigger {
    background: url("../images/buttons/toggle.png") no-repeat scroll 13px 22px #F1F1F1;
    color: #999999;
    cursor: pointer;
    font-size: 18px;
    margin: 0;
    padding: 15px 10px 15px 50px;
    width: 100%;
}
h2.trigger:hover {background-color: #F7F7F7;color:#fff;}
h2.trigger a { color: #fff; margin: 0; padding: 0; text-decoration: none; display: block;
}
h2.trigger a:hover { color: #ccc
}
h2.active { background-position: 13px -42px
}
.toggle_container { padding: 15px;
}
.block { position: relative; float:left; height: inherit; overflow: hidden; margin-bottom: 0;border: 1px solid #eee;   width:99%; margin-bottom:25px;
}
h2.trigger:hover {
    background-color: #717171 !important;
}