/*****************************/
/*          Layout           */
/*****************************/

.wrapper{
  margin-top: 150px;
  margin-bottom: 150px;
  position: relative;
}

.content{
  background: #fff;
  position: relative;
  float: left;
  //bootstrap's grid-core-span mixin formula. see _mixins.scss:603
  //width: ($gridColumnWidth * $gridColumns) + ($gridGutterWidth * ($gridColumns - 1)) - $sidebarWidth;
  width: 800px; //camputed since bs3
}

.logo{
  position: absolute;
  z-index: $z-index-base + 10;
  top: -57px;
  @include transition(top 0.35s ease);

  &.offset{
    top: -36px;
  }

  &.bottom{
    top: auto;
    bottom: -17px;
  }

  .logo-content{
    display: block;
    background: #fff;
    padding: 0;
    line-height: 1;
    color: $textColor;
    text-decoration: none;
  }


  .shadow{
    position: absolute;
    background: url(../images/logo-shadow.png) no-repeat bottom right/100% 100%;
    height: 100%;
    width: 100%;
    z-index: -1;
    padding-right: 4.5%;
    padding-bottom: 21px;
  }

  .name{
    font-size: $font-size-base * 1.5;
    font-weight: bold;
    font-family: $headings-font-family;
    text-transform: uppercase;
  }

  .slogan{
    font-size: $font-size-small;
  }

  .square{
    display: inline-block;
    width: 7px;
    height: 7px;
    border: 5px solid $red;
  }
}

.page-footer{
  font-size: $font-size-small;
  text-align: right;
  line-height: 40px;
  padding-right: 300px;

  position: relative;

  background: $red;
  color: #fff;

  .to-top-link{
    color: #fff;
    position: absolute;
    right: 20px;
  }
}

/*****************************/
/*           Home            */
/*****************************/

.home-carousel{
  margin-bottom: 0;

  .progress-wrap{
    top: 504px;
  }
}

.tp-bannertimer{
  background: $red;
  height: 3px;
}

.progress-wrap{
  width: 800px; //same as .content
  z-index: 200;
  position: absolute;
  .tp-bannertimer{
    position: static;
  }
}

.tparrows, .tp-bannershadow{
  display: none;
}

.home-carousel,
.home-carousel .item{
  height: 640px;
}

/*****************************/
/*     Home with Bottom      */
/*****************************/

.latest-posts-carousel{
  .item{
    height: 100px;
    padding: 30px 0;
  }

  .post{
    text-align: center;
  }

  .post-preview{
    line-height: $line-height-base;

    &:first-child{
      padding-left: 55px;
    }

    &:last-child{
      padding-right: 55px;
    }

    & + .post-preview{
      .description{
        border-top: none;
        padding-top: 0;
      }

      img{
        margin-top: 0;
      }
    }

    img{
      width: auto;
      height: 100px;
    }

    .description{
      color: $gray-light;
      margin-left: 150px;
      height: 95px;
    }

    .title{
      margin-top: 5px;
    }
  }

  .carousel-control{
    background: none;
    color: $textColor;
    font-size: $font-size-base;
    opacity: 1;
    border: none;
    width: 20px;
    height: 20px;
    top: 50%;
    cursor: pointer;
    @include transition(color .2s);

    &:hover{
      color: $red;
    }
  }
}

/*****************************/
/*         Sidebar           */
/*****************************/

.sidebar{
  float: right;
  width: $sidebarWidth;
  position: relative;
  z-index: $z-index-base + 1;

  .nav-links{
    @include clearfix;
    position: relative;
    a{
      display: block;
      float: left;
      background: #fff;
      color: $gray-light;
      text-decoration: none;
      padding: 12px 10px;

      @include transition(color .2s);

      &:hover{
        color: #4c4c4c;
      }

      & + a{
        border-left: 1px;
      }
    }

    .divider{
      position: absolute;
      display: block;
      left: 29px;
      top: 13px;
      width: 1px;
      height: 17px;
      background: $dividerColor;
    }
  }
}

.sidebar-inner{
  background: #ffffff;
}

.sidebar-item{
  margin: 0 15px;
  padding: 25px 0 15px;
  border-bottom: 1px solid $dividerColor;
  background: #fff;

  &:last-child{
    border-bottom: none;

  }

  .title{
    margin: 0;
  }

  .post, .description{
    font-size: $font-size-small;
    line-height: 17px;
    padding-bottom: 15px;
    color: $gray-light;
  }

  .description{
    padding-top: 5px;
  }

  .post{
    padding-top: 15px;
    border-bottom: 1px solid $dividerColor;
    &:last-child{
      padding-bottom: 0;
      border-bottom: none;
    }

    p {
      margin-bottom: 5px;
    }
  }

  form{
    margin: 0;
  }
}

.more-link{
  color: $red;
}

.newsletter-form{
  input[type='email']{
    width: 69px;
  }

  .btn-danger{
    @include transition(background .3s);
    background-image: none;
  }

  .btn-danger:hover{
    background: #666;
    @include transition(background .3s);
  }
}

.social-icons{
  margin-top: -15px;

  a{
    color: $textColor;
    text-decoration: none;
    display: inline-block;
    width: 23%;
    text-align: center;
    @include transition(color .2s);

    &:hover{
      color: $red;
    }
  }
}

/*****************************/
/*        Navigation         */
/*****************************/

.navigation{
  font-size: $font-size-small;

  &.navigation-home{
    position: absolute;
    z-index: $z-index-base + 12;
    width: 100%;
    top: 507px;
  }

  &.navigation-page{
    position: absolute;
    z-index: $z-index-base + 12;
    width: 100%;
    top: 300px;
  }

  .navbar{
    margin: 0;
    padding: 10px 0;
    background: #fff;
    @include border-radius(0);
  }

  .navbar-collapse.collapse{
    display: block;
    height: 0;
    overflow-x: hidden;
  }

  .navbar-inner{
    background: none;
    border: none;
    padding: 0;
    @include box-shadow(none);
  }

  .nav-item-description, .nav-item-title{
    display: block;
  }

  .nav-item-title{
    font-weight: bold;
  }

  .nav-item-description{
    color: $gray-light;
    font-size: $font-size-mini;
    line-height: 1.3;
  }

  .nav > li{
    padding: 0 10px;
  }

  .nav > li + li{
    border-left: 1px solid $dividerColor;
  }

  .nav > li > a{
    padding: 5px 15px;
    color: $textColor;
    text-shadow: none;
    @include transition(color .2s, background-color .2s, padding .2s, margin .2s, border-radius .2s);

    &:hover{
      background: $red;
      margin: -5px 0;
      padding: 10px 15px;
      @include border-radius($inputBorderRadius);

      .nav-item-title{
        color: #fff;
      }

      .nav-item-description{
        color: $orangeActiveColor;
      }
    }
  }

  .nav > .active > a,
  .nav > .active > a:hover,
  .nav > .active > a:focus{
    @include box-shadow(none);
    background: none;

    .nav-item-title{
      color: $red;
    }

    .nav-item-description{
      color: $gray-light;
    }
  }

  .nav li.dropdown > .dropdown-menu{
    display: block;
    @include transition(opacity .3s);
  }

  .nav li.dropdown:not(:hover) > .dropdown-menu{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    padding: 0;
    top: -1000%;
  }

  .nav li.dropdown:hover,
  .nav li.dropdown.active:hover{
    > .dropdown-menu{
      max-height: none;
      opacity: 1;
    }

    > .dropdown-toggle {
      background-color: $red;
      margin: -5px 0;
      padding: 10px 15px;
      @include border-radius($inputBorderRadius);

      .nav-item-title{
        color: #fff;
      }

      .nav-item-description{
        color: $orangeActiveColor;
      }
    }

    &:after{
      content: "";
      display: block;
      position: absolute;
      top: -41px;
      bottom: 49px;
      left: 0;
      right: 0;
      margin: 0 -29px;
    }
  }

  .nav li.dropdown.active > .dropdown-toggle{
    background: none;
  }

  .navbar-toggle{
    background: none;
    text-shadow: none;
    color: $gray;
    text-decoration: none;
    @include transition(color .2s);
    padding: 0 10px;
    font-size: $font-size-base * 1.5;

    &:hover{
      background: none;
      color: $red;
    }
  }

  .dropdown-menu{
    top: auto;
    bottom: 85px;
    left: auto;
    right: 50%;
    margin-right: -80px;
    border: none;
    @include box-shadow(0 0 6px $gray);
    @include border-radius($baseBorderRadius);

    text-align: center;
    font-size: $font-size-mini;

    > li{
      padding: 0 25px;
    }

    > li > a {
      padding: 7px 0;
      color: #666;
    }

    > li + li > a{
      border-top: 1px solid $dividerColor;
    }
  }

  &.navigation-top{
    .dropdown-menu{
      top: 78px;
      bottom: auto;
    }

    .nav > li > .dropdown-menu {
      &:before {
        border-left: 14px solid transparent;
        border-right: 14px solid transparent;
        border-bottom: 14px solid #ccc;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        top: -14px;
        left: 50%;
        border-top: 0;
        bottom: auto;
      }
      &:after {
        bottom: auto;
        top: -12px;
        border-top: 0;
        border-bottom: 12px solid #FFF;
      }
    }

    .nav li.dropdown:hover:after,
    .nav li.dropdown.active:hover:after{
      top: 47px;
      bottom: -36px;
    }
  }

  .dropdown-menu > li > a:hover,
  .dropdown-menu > li > a:focus,
  .dropdown-submenu:hover > a,
  .dropdown-submenu:focus > a,
  .dropdown-menu > .active > a,
  .dropdown-menu > .active > a:hover,
  .dropdown-menu > .active > a:focus{
    background: none;
    color: $red;
  }

  .dropdown-menu > .active > a,
  .dropdown-menu > .active > a:hover,
  .dropdown-menu > .active > a:focus {
    background: none;
  }

  .nav > li > .dropdown-menu {
    &:before {
      border-left: 14px solid transparent;
      border-right: 14px solid transparent;
      border-top: 14px solid #ccc;
      border-top-color: rgba(0, 0, 0, 0.2);
      top: auto;
      left: 50%;
      margin-left: -14px;
      bottom: -14px;
      border-bottom: 0;
    }
    &:after {
      border-top: 12px solid #FFF;
      border-bottom: 0;
      bottom: -12px;
      top: auto;
      left: 50%;
      margin-left: -12px;
      border-left-width: 12px;
      border-right-width: 12px;
    }
  }

}

/*****************************/
/*           Page            */
/*****************************/

.page-content{
  padding: 20px 40px;
  min-height: 320px;
}

.post-preview{
  padding-bottom: 30px;

  &:last-of-type{
    padding-bottom: 0;
  }

  & + .post-preview{
    .post-preview-image img{
      margin-top: 30px;
    }

    .description{
      border-top: 1px solid $dividerColor;
      padding-top: $line-height-base;
    }
  }

  .description{
    position: relative;
    font-size: $font-size-small;
    margin-left: 164px;
    min-height: 120px;
    color: $gray;
    padding-bottom: $line-height-base;
  }

  .title a{
    color: $textColor;
    text-decoration: none;

    &:hover{
      color: $red;
    }
  }

  .more-link{
    position: absolute;
    bottom: 0;
  }
}

.post-preview-image img{
  display: block;
  float: left;
  width: 134px;
  height: 134px;
}

.page-carousel .progress-wrap{
  top: 297px;
}

.page-carousel,
.page-carousel .item{
  height: 400px;
}

.article-title{
  font-weight: normal;
  font-size: 52px;
  line-height: 1.4;
  margin: 0 0 30px;

  .author{
    font-size: $font-size-base;
    font-style: italic;
  }
}

.page-title{

}

/*****************************/
/*          Clients          */
/*****************************/

.clients{
  margin: 40px 0 100px;
  font-size: $font-size-small;

  > .nav-tabs{
    border-right: none;
  }

  > .nav-tabs > .active > a,
  > .nav-tabs > .active > a:hover,
  > .nav-tabs > .active > a:focus {
    color: $red;
    background: none;
    border: none;
    border-bottom: 1px solid $dividerColor;
  }

  > .nav-tabs > li > a {
    border: none;
    @include border-radius(0);
    padding-left: 4px;

    color: $gray-light;

    border-bottom: 1px solid $dividerColor;
  }

  > .nav-tabs > li:first-child > a,
  > .nav-tabs > .active:first-child > a{
    border-top: 1px solid $dividerColor;
  }

  .nav > li > a:hover,
  .nav > li > a:focus {
    background: none;
    border-color: $dividerColor;

    color: $red;
  }

  .tab-content{
    padding-left: 30px;
    color: $gray;

    img{
      display: block;
    }

    p{
      margin-top: 30px;
    }
  }

  .tab-pane{
    @include transition(opacity .3s);
    opacity: 0;
    &.visible{
      opacity: 1;
    }
  }

  .accordion{
    margin-bottom: 0;
  }

  .accordion-group, .accordion-inner{
    border: none;
  }

  .accordion-heading{
    border-bottom: 1px solid $dividerColor;

    a{
      color: $gray;
      padding: 8px 0;
    }
  }

  .accordion-group:first-child .accordion-heading{
    border-top: 1px solid $dividerColor;
  }

  .accordion-inner img{
    margin-bottom: $line-height-base / 2;
  }
}

.clients-website{
  color: $red;
  display: block;
  line-height: 30px;
  border-top: 1px solid $dividerColor;
  border-bottom: 1px solid $dividerColor;

  &:hover{
    color: $red;
  }
}

/*****************************/
/*            Team           */
/*****************************/

.team{
  @include clearfix();
  .row-fluid{
    float: left;

    & + .row-fluid{
      margin-top: 30px;
    }
  }
}

.team-member{
  font-size: $font-size-small;
  margin-bottom: 20px;

  img{
    display: block;
  }

  .name{
    margin-bottom: 5px;
  }

  .position, .description{
    color: $gray;
  }

  .description{
    font-size: $font-size-mini;
    min-height: $line-height-base * 2;
  }

  .social-icons{
    margin: 0;
    padding: 5px 10px;
    border-bottom: 1px solid $dividerColor;
    height: $line-height-base;

    a{
      color: $gray-light;

      &:hover{
        color: $red;
      }
    }
  }
}


/*****************************/
/*           Utils           */
/*****************************/

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input{
  &.input-condensed{
    font-size: $font-size-mini;
    padding: 2px 6px;
  }
}

.text-align-center{
  text-align: center;
}

.remove-clearfix{
  @include remove-clearfix();
}