/*****************************/
/*          Layout           */
/*****************************/

.wrapper{
  margin-top: 150px;
  margin-bottom: 150px;
  position: relative;
}

.content{
  background: #fff;
  position: relative;
  float: left;
  //bootstrap's grid-core-span mixin formula. see _mixins.scss:603
  //width: ($gridColumnWidth * $gridColumns) + ($gridGutterWidth * ($gridColumns - 1)) - $sidebarWidth;
  width: 800px; //camputed since bs3
}

.logo{
  position: absolute;
  z-index: $z-index-base + 10;
  top: -57px;
  @include transition(top 0.35s ease);

  &.offset{
    top: -36px;
  }

  &.bottom{
    top: auto;
    bottom: -17px;
  }

  .logo-content{
    display: block;
    min-height: 57px;
    line-height: 57px;
    padding: 0;
    vertical-align: middle;
    background: #fff;
    color: $textColor;
    text-decoration: none;
  }


  .shadow{
    @include box-sizing(content-box);
    position: absolute;
    background: url(../images/logo-shadow.png) no-repeat bottom right/100% 100%;
    height: 100%;
    width: 100%;
    z-index: -1;
    padding-right: 4.5%;
    padding-bottom: 21px;
  }

  .name{
    font-size: $font-size-base * 1.5;
    font-weight: bold;
    font-family: $headings-font-family;
    text-transform: uppercase;
  }

  .slogan{
    font-size: $font-size-small;
  }

  .square{
    display: inline-block;
    width: 7px;
    height: 7px;
    border: 5px solid $red;
  }
}

.page-footer{
  font-size: $font-size-small;
  text-align: right;
  line-height: 40px;
  padding-right: 300px;

  position: relative;

  background: $red;
  color: #fff;

  .to-top-link{
    color: #fff;
    position: absolute;
    right: 20px;
  }
}

/*****************************/
/*           Home            */
/*****************************/

.home-carousel{
  margin-bottom: 0;

  .progress-wrap{
    top: 504px;
  }
}

.tp-bannertimer{
  background: $red;
  height: 3px;
}

.progress-wrap{
  width: 800px; //same as .content
  z-index: 200;
  position: absolute;
  .tp-bannertimer{
    position: static;
  }
}

.tparrows, .tp-bannershadow{
  display: none;
}

.home-carousel,
.home-carousel .item{
  height: 640px;
}

/*****************************/
/*     Home with Bottom      */
/*****************************/

.latest-posts-carousel{
  .item{
    height: 100px;
    padding: 30px 0;
  }

  .post{
    text-align: center;
  }

  .post-preview{
    line-height: $line-height-computed;

    &:first-child{
      padding-left: 55px;
    }

    &:last-child{
      padding-right: 55px;
    }

    & + .post-preview{
      .description{
        border-top: none;
        padding-top: 0;
      }

      img{
        margin-top: 0;
      }
    }

    img{
      width: auto;
      height: 100px;
    }

    .description{
      color: $gray-light;
      margin-left: 150px;
      height: 95px;
    }

    .title{
      margin-top: 5px;
    }
  }

  .carousel-control{
    background: none;
    color: $textColor;
    font-size: $font-size-base;
    opacity: 1;
    border: none;
    width: 20px;
    height: 20px;
    top: 50%;
    cursor: pointer;
    @include transition(color .2s);

    &:hover{
      color: $red;
    }
  }
}

/*****************************/
/*         Sidebar           */
/*****************************/

.sidebar{
  float: right;
  width: $sidebarWidth;
  position: relative;
  z-index: $z-index-base + 1;

  .nav-links{
    @include clearfix;
    position: relative;
    a{
      display: block;
      float: left;
      background: #fff;
      color: $gray-light;
      text-decoration: none;
      padding: 12px 10px;

      @include transition(color .2s);

      &:hover{
        color: #4c4c4c;
      }

      & + a{
        border-left: 1px;
      }
    }

    .divider{
      position: absolute;
      display: block;
      left: 29px;
      top: 13px;
      width: 1px;
      height: 17px;
      background: $dividerColor;
    }
  }
}

.sidebar-inner{
  background: #ffffff;
}

.sidebar-item{
  margin: 0 15px;
  padding: 25px 0 15px;
  border-bottom: 1px solid $dividerColor;
  font-size: $font-size-small;
  background: #fff;

  &:last-child{
    border-bottom: none;

  }

  .title{
    margin: 0;
  }

  .post, .description{
    font-size: $font-size-small;
    line-height: 17px;
    padding-bottom: 15px;
    color: $gray-light;
  }

  .description{
    padding-top: 5px;
  }

  .post{
    padding-top: 15px;
    border-bottom: 1px solid $dividerColor;
    &:last-child{
      padding-bottom: 0;
      border-bottom: none;
    }

    p {
      margin-bottom: 5px;
    }
  }

  form{
    margin: 0;
  }

  ul{
    padding: 0;
    > li{
      list-style: none;
    }
  }

  > ul{
    margin-top: $line-height-computed / 2;
  }

  > .tagcloud{
    margin-top: $line-height-computed / 2;
    a{
      @extend .label;
      @extend .label-default;
    }
  }

  table{
    width: 100%;
  }

  .search-query{
    @extend .newsletter-input;
    width: 100% !important;
  }
}

.more-link{
  color: $red;
}

.newsletter-form{

  .btn-danger{
    @include transition(background .3s);
    background-image: none;
  }

  .btn-danger:hover{
    background: #666;
    @include transition(background .3s);
  }
}

.newsletter-input{
  @include box-sizing(content-box);
  width: 111px;
  padding: 2px 6px;
  border: 1px solid #ddd;
  font-size: $font-size-mini;
  line-height: 20px;
  height: 20px;
  outline: 0;
  @include box-shadow(0 1px 1px #aaa);
  &:focus{
    border-color: $red;
  }
}

.social-icons{
  margin-top: -15px;

  a{
    color: $textColor;
    text-decoration: none;
    display: inline-block;
    width: 23%;
    text-align: center;
    @include transition(color .2s);

    &:hover{
      color: $red;
    }
  }
}

/*****************************/
/*        Navigation         */
/*****************************/

.navigation{
  font-size: $font-size-small;

  &.navigation-home{
    position: absolute;
    z-index: $z-index-base + 12;
    width: 100%;
    top: 507px;
  }

  &.navigation-page{
    position: absolute;
    z-index: $z-index-base + 12;
    width: 100%;
    top: 300px;
  }

  .navbar{
    margin: 0;
    padding: 10px 0;
    background: #fff;
    @include border-radius(0);
  }

  .navbar-collapse{
    border-top: none;
    padding: 0;
    &.collapse{
      display: block;
      height: 0;
      overflow-x: hidden;

    }
    &.in{
      overflow-y: visible;
    }
  }

  .navbar-nav{
    margin: 0;
  }

  .navbar-inner{
    background: none;
    border: none;
    padding: 0;
    @include box-shadow(none);
  }

  .nav-item-description, .nav-item-title{
    display: block;
  }

  .nav-item-title{
    font-weight: bold;
  }

  .nav-item-description{
    color: $gray-light;
    font-size: $font-size-mini;
    line-height: 1.3;
  }

  .nav > li{
    padding: 0 10px;
  }

  @media (min-width: $screen-sm) {
    .nav > li + li{
      border-left: 1px solid $dividerColor;
    }
  }

  .nav > li > a{
    height: 44px;
    padding: 5px 15px;
    color: $textColor;
    text-shadow: none;
    @include border-radius(4px);
    @include transition(color .2s, background-color .2s, padding .2s, margin .2s, height .2s);

    &:hover{
      background: $red;
      height: 54px;
      margin: -5px 0;
      padding: 10px 15px;

      .nav-item-title{
        color: #fff;
      }

      .nav-item-description{
        color: $orangeActiveColor;
      }
    }
  }

  .nav > .active > a,
  .nav > .active > a:hover,
  .nav > .active > a:focus{
    @include box-shadow(none);
    background: none;

    .nav-item-title{
      color: $red;
    }

    .nav-item-description{
      color: $gray-light;
    }
  }

  .nav li.dropdown > .dropdown-menu{
    display: block;
    @include transition(opacity .3s ease-out, margin .3s ease-out);
  }

  .nav li.dropdown:not(:hover) > .dropdown-menu{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    padding: 0;
    top: -1000%;
    margin-bottom: -5px;
  }

  .nav li.dropdown:hover,
  .nav li.dropdown.active:hover{
    > .dropdown-menu{
      max-height: none;
      opacity: 1;
      margin-bottom: 0;
    }

    > .dropdown-toggle {
      height: 54px;
      background-color: $red;
      margin: -5px 0;
      padding: 10px 15px;

      .nav-item-title{
        color: #fff;
      }

      .nav-item-description{
        color: $orangeActiveColor;
      }
    }

    &:after{
      content: "";
      display: block;
      position: absolute;
      top: -41px;
      bottom: 49px;
      left: 0;
      right: 0;
      margin: 0 -29px;
    }
  }

  .nav li.dropdown.active > .dropdown-toggle{
    background: none;
  }

  .navbar-toggle{
    float: none;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    border: none;
    font-size: $font-size-base * 1.5;
    text-align: right;
    background: none;
    text-shadow: none;
    color: $gray;
    text-decoration: none;
    @include transition(color .2s);

    &:hover{
      background: none;
      color: $red;
    }
  }

  .dropdown-menu{
    top: auto;
    bottom: 85px;
    left: auto;
    right: 50%;
    margin-right: -80px;
    border: none;
    @include box-shadow(0 0 6px $gray);
    @include border-radius($border-radius-base);

    text-align: center;
    font-size: $font-size-mini;

    > li{
      padding: 0 25px;
    }

    > li > a {
      padding: 7px 0;
      color: #666;
    }

    > li + li > a{
      border-top: 1px solid $dividerColor;
    }
  }

  &.navigation-top{
    .dropdown-menu{
      top: 78px;
      bottom: auto;
    }

    .nav > li > .dropdown-menu {
      &:before {
        border-left: 14px solid transparent;
        border-right: 14px solid transparent;
        border-bottom: 14px solid #ccc;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        top: -14px;
        left: 50%;
        border-top: 0;
        bottom: auto;
      }
      &:after {
        bottom: auto;
        top: -12px;
        border-top: 0;
        border-bottom: 12px solid #FFF;
      }
    }

    .nav li.dropdown:hover:after,
    .nav li.dropdown.active:hover:after{
      top: 47px;
      bottom: -36px;
    }

    .nav li.dropdown:not(:hover) > .dropdown-menu{
      margin-top: -5px;
    }

    .nav li.dropdown:hover,
    .nav li.dropdown.active:hover{
      > .dropdown-menu{
        margin-top: 0;
      }
    }
  }

  .dropdown-menu > li > a:hover,
  .dropdown-menu > li > a:focus,
  .dropdown-submenu:hover > a,
  .dropdown-submenu:focus > a,
  .dropdown-menu > .active > a,
  .dropdown-menu > .active > a:hover,
  .dropdown-menu > .active > a:focus{
    background: none;
    color: $red;
  }

  .dropdown-menu > .active > a,
  .dropdown-menu > .active > a:hover,
  .dropdown-menu > .active > a:focus {
    background: none;
  }

  .nav > li > .dropdown-menu {
    &:before, &:after{
      display: inline-block;
      content: '';
      position: absolute;
    }
    &:before {
      border-left: 14px solid transparent;
      border-right: 14px solid transparent;
      border-top: 14px solid #ccc;
      border-top-color: rgba(0, 0, 0, 0.2);
      top: auto;
      left: 50%;
      margin-left: -14px;
      bottom: -14px;
      border-bottom: 0;
    }
    &:after {
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 12px solid #FFF;
      border-bottom: 0;
      bottom: -12px;
      top: auto;
      left: 50%;
      margin-left: -12px;
    }
  }

}

/*****************************/
/*           Page            */
/*****************************/

.page-content{
  padding: 20px 30px;
  @include clearfix();
  @media (min-width: $screen-sm){
    min-height: 320px;
  }
}

.post-preview{

  & + .post-preview{
    margin-top: $line-height-computed / 2;
    .post-preview-image img{
      margin-top: 30px;
    }

    .description{
      padding-top: $line-height-computed;
    }
  }

  .description{
    @include box-sizing(content-box);
    position: relative;
    font-size: $font-size-small;
    margin-left: 164px;
    min-height: 120px;
    color: $gray;
  }

  .title a{
    color: $textColor;
    text-decoration: none;

    &:hover{
      color: $red;
    }
  }

  .more-link{
    position: absolute;
    z-index: 1;
    bottom: 5px;
    left: 2px;
    @media (max-width: $screen-xs-max) {
      left: auto;
      right: 2px;
    }
  }
}

.post-preview-image img{
  display: block;
  float: left;
  width: 134px;
  height: 134px;
}

.post-preview-info{
  margin-top: $line-height-computed * 1.5;
  padding: 4px 0;
  border-top: 1px solid $dividerColor;
  border-bottom: 1px solid $dividerColor;
  @media (min-width: $screen-sm) {
    text-align: right;
  }

  .category-link, .comments-link{

    &, > a{
      color: $gray-light;
    }
    a{
      text-decoration: none;
      &:hover{
        color: $gray;
      }
    }
  }

  .category-link{
    @media (min-width: $screen-sm) {
      margin-right: -10%;
    }
  }

  .comments-link{
    margin-right: 2px;
  }
}

.page-carousel,
.home-carousel{
  img {
    max-width: 100%;
  }
}

.page-carousel .progress-wrap{
  top: 297px;
}

.page-carousel,
.page-carousel .item{
  height: 400px;
}

.article-title{
  font-weight: normal;
  font-size: 52px;
  line-height: 1.4;
  margin: 0 0 30px;

  .author{
    font-size: $font-size-base;
    font-style: italic;
    a{
      color: $gray-light;
    }
  }
}

.page-title{
  margin-bottom: 30px;
}

.comments{
  padding: 0 30px 15px;

  #{headings()}{
    font-family: $font-family-base;
  }

  h3{
    font-size: $font-size-base;
  }

  .comment-reply-link{
    font-size: $font-size-mini;
    font-weight: bold;
    color: $text-color;
    &:hover{
      color: $gray;
    }
  }

  @include input-size('.form-control', $input-height-base, $padding-base-vertical, $padding-base-horizontal,
    $font-size-small, $line-height-base, $border-radius-base);

  .form-submit{
    display: none;
  }

  form{
    @extend .form-horizontal;
  }

  .form-actions{
    margin-bottom: 0;
  }
}

.comments-title{
  margin-bottom: $line-height-computed;
}

.comment-title{
  font-size: $font-size-small;
  font-weight: 600;
  > a{
    color: $textColor;
    &:hover{
      color: $red;

    }
  }
  time{
    font-weight: normal;
  }
}

.comments > .media-list > .discussion-item{
  border-top: 1px solid $dividerColor;
  border-bottom: 1px solid $dividerColor;
  + .discussion-item{
    margin-top: -1px;
  }
}

.discussion-item{
  padding: 25px 0;
  font-size: $font-size-small;

  > .pull-left{
    margin-right: 25px;
  }
}
.comment-inner{
  min-height: 64px;

  > p:last-child{
    margin-bottom: 0;
  }
}

.post-preview,
.post,
.page{
  img, .wp-caption{
    max-width: 100%;
    height: auto;
  }
}
/*****************************/
/*          Clients          */
/*****************************/

.clients{
  margin: 40px 0 100px;
  font-size: $font-size-small;

  > .nav-tabs{
    border-right: none;
  }

  > .nav-tabs > .active > a,
  > .nav-tabs > .active > a:hover,
  > .nav-tabs > .active > a:focus {
    color: $red;
    background: none;
    border: none;
    border-bottom: 1px solid $dividerColor;
  }

  > .nav-tabs > li > a {
    border: none;
    @include border-radius(0);
    padding-left: 4px;

    color: $gray-light;

    border-bottom: 1px solid $dividerColor;
  }

  > .nav-tabs > li:first-child > a,
  > .nav-tabs > .active:first-child > a{
    border-top: 1px solid $dividerColor;
  }

  .nav > li > a:hover,
  .nav > li > a:focus {
    background: none;
    border-color: $dividerColor;

    color: $red;
  }

  .tab-content{
    padding-left: 30px;
    color: $gray;

    img{
      display: block;
      max-width: 100%;
      height: auto;
    }

    p{
      margin-top: 30px;
    }
  }

  .tab-pane{
    @include transition(opacity .3s);
    opacity: 0;
    &.visible{
      opacity: 1;
    }
  }

  .accordion{
    margin-bottom: 0;
  }

  .accordion-group, .accordion-inner{
    border: none;
  }

  .accordion-heading{
    border-bottom: 1px solid $dividerColor;

    a{
      display: block;
      padding: 8px 0;
      color: $gray;
    }
  }

  .accordion-group:first-child .accordion-heading{
    border-top: 1px solid $dividerColor;
  }

  .accordion-inner img{
    margin-bottom: $line-height-computed / 2;
  }
}

.clients-website{
  color: $red;
  display: block;
  line-height: 30px;
  border-top: 1px solid $dividerColor;
  border-bottom: 1px solid $dividerColor;

  &:hover{
    color: $red;
  }
}

/*****************************/
/*            Team           */
/*****************************/

.team{
  @include clearfix();
  .row-fluid{
    float: left;

    & + .row-fluid{
      margin-top: 30px;
    }
  }
}

.team-member{
  font-size: $font-size-small;
  margin-bottom: 20px;

  img{
    display: block;
  }

  .name{
    margin-bottom: 5px;
  }

  .position, .description{
    color: $gray;
  }

  .description{
    font-size: $font-size-mini;
    min-height: $line-height-computed * 2;
  }

  .social-icons{
    @include box-sizing(content-box);
    margin: 0;
    padding: 5px 10px;
    border-top: 1px solid $dividerColor;
    border-bottom: 1px solid $dividerColor;
    height: $line-height-computed;

    a{
      color: $gray-light;

      &:hover{
        color: $red;
      }
    }
  }

  .website{
    padding: 5px 0;
    border-top: 1px solid $dividerColor;
    border-bottom: 1px solid $dividerColor;
    a{
      color: $red;
    }
  }
}

.portfolio-filters{
  margin: $line-height-computed/2 0 $line-height-computed;
  padding: 0;
  @include clearfix();
  > li{
    float: left;
    list-style: none;
    > .label{
      margin-right: 12px;
      padding: 4px 12px;
      font-size: $font-size-small;
      font-weight: normal;
      color: $gray-light;

      cursor: pointer;
      &:hover{
        color: $gray;
      }
      &.active{
        background: $red;
        color: #fff;
      }
    }
  }
}

.portfolio-item{
  opacity: 0;
  display: none;
  img{
    @include transition(opacity .2s ease-out);
  }

  .team:hover &{
    img{
      opacity: .7 !important;
    }
    &:hover img{
      opacity: 1 !important;
    }
  }
}

/*****************************/
/*          Contact          */
/*****************************/

.address-info > table{
  width: 100%;
  @media (max-width: $screen-sm-max) {
    display: block;
    tr, td{
      display: block;
    }
    td{
      @include clearfix();
      margin-top: $line-height-computed;
    }
  }
}

.address-info-entry{
  color: $gray-light;
  font-size: $font-size-small;
  .icon{
    float: left;
    width: 40px;
    margin-bottom: 0;
    font-size: 32px;
    text-align: center;
    color: #aaa;
  }
  .entry-content{
    margin-left: 50px;
    padding-top: 4px;
  }
  .text{
    margin-bottom: 2px;
    &:only-child{
      padding-top: 8px;
    }
  }

  a{
    color: $gray-light;
    &:hover{
      color: $red;
    }
  }
}

.contact-map{
  height: 300px;
  margin-top: $line-height-computed;
}

.contact-form{
  margin-top: $line-height-computed * 2;

  @include input-size('.form-control', $input-height-large, $padding-large-vertical, $padding-large-horizontal,
    $font-size-base, $line-height-large, $border-radius-large);

  .form-control.contact-form-message{
    height: 165px;
  }

  .contact-form-submit{
    font-size: $font-size-base;
  }
}

.contact-messages ul{
  padding: 0;
}


/*****************************/
/*           Utils           */
/*****************************/

.text-align-center{
  text-align: center;
}

.remove-clearfix{
  @include remove-clearfix();
}

/** wordpres classes */
img.alignright  { float:right; margin:0 0 1em 1em }

img.alignleft { float:left; margin:0 1em 1em 0 }

img.aligncenter { display: block; margin-left: auto; margin-right: auto }

.alignright { float:right; }

.alignleft { float:left; }

.aligncenter { display: block; margin-left: auto; margin-right: auto }
/********************************/
/*          Tabbable            */
/********************************/
// TABBABLE
// --------


// COMMON STYLES
// -------------

// Clear any floats
.tabbable {
  @include clearfix();
}
.tab-content {
  overflow: auto; // prevent content from running below tabs
}

// Remove border on bottom, left, right
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

// Show/hide tabbable areas
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}
.tab-content > .active,
.pill-content > .active {
  display: block;
}


// BOTTOM
// ------

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}
.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}
.tabs-below > .nav-tabs > li > a {
  @include border-radius(0 0 4px 4px);
  &:hover,
  &:focus {
    border-bottom-color: transparent;
    border-top-color: #ddd;
  }
}
.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

// LEFT & RIGHT
// ------------

// Common styles
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}
.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

// Tabs on the left
.tabs-left > .nav-tabs {
  float: left;
}
.tabs-left > .nav-tabs > li > a {
  @include box-sizing(content-box);
}
.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: $gray-lighter #ddd $gray-lighter $gray-lighter;
}
.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #fff;
}

// Tabs on the right
.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}
.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  @include border-radius(0 4px 4px 0);
}
.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: $gray-lighter $gray-lighter $gray-lighter #ddd;
}
.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #fff;
}
