@font-face {
  font-family: 'Nobile';
  font-style: normal;
  font-weight: 400;
  src: local('Nobile'), local('Nobile-Regular'), url(font/nobile-regular.woff) format('woff');
}
@font-face {
  font-family: 'Nobile';
  font-style: normal;
  font-weight: 700;
  src: local('Nobile Bold'), local('Nobile-Bold'), url(font/nobile-bold.woff) format('woff');
}