html, body{
  min-height: 100%;
}

body{
  background: url(../images/example/background.jpg) no-repeat;
  background-size: cover;
  background-position: bottom right;
}

ul, ol {
  margin: 0;
}

hr{
  border-top-color: $dividerColor;
}

a{
  @include transition(color .2s);
}