@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
  .content{
    width: 536px;
  }

  .social-icons a{
    width: 22%;
  }

  .navigation.navigation-page{
    top: 268px;
  }

  .navigation.navigation-home{
    top: 436px;
  }

  .home-carousel .progress-wrap{
    top: 433px;
  }

  .home-carousel,
  .home-carousel .item{
    height: 496px;
  }

  .page-carousel .progress-wrap{
    top: 265px;
  }

  .page-carousel,
  .page-carousel .item{
    height: 335px;
  }

  .progress-wrap{
    width: 536px;
  }
}

@media (max-width: 767px) {
  body{
    background: none !important;
    padding: 0;
  }

  .wrapper{
    margin: 0;
  }

  .content{
    float: none;
    width: auto;
  }

  .navigation,
  .navigation.navigation-home,
  .navigation.navigation-page,
  .navigation.navigation-top{
    position: static;
  }

  .navigation{
    .navbar-inner{
      min-height: 0;
      @include clearfix();
    }

    .nav > li{
      float: none;
    }

    .navbar-toggle{
      display: block;
    }
  }

  .logo,
  .logo.home,
  .logo.offset{
    top: 20px;
  }

  .logo.bottom{
    display: none;
  }

  .sidebar{
    float: none;
    width: auto;
  }

  .home-carousel,
  .page-carousel{
    height: auto !important;
  }

  .page-carousel .item,
  .home-carousel .item{
    height: auto;
  }

  .page-carousel .tp-bannertimer,
  .home-carousel .tp-bannertimer{
    display: none;
  }

  .rev_slider_wrapper{
    float: none !important;
    margin: 0 !important;
    width: auto !important;
    height: auto !important;
  }

  .rev_slider{
    width: auto !important;
  }

  .nav-links{
    display: none;
  }

//make icons align left
  .social-icons{
    text-align: left;
    margin-bottom: 10px;
    a{
      width: auto;
    }
    a + a{
      margin-left: 30px;
    }
  }

  .newsletter-form input[type='email']{
    width: 180px;
  }

  .article-title{
    font-size: $font-size-base * 1.75;
  }

  .page-footer{
    padding-right: 0;
    text-align: center;
  }

  .latest-posts-carousel{
    margin-bottom: 0;

    .item{
      padding-bottom: 0;
      height: auto;
    }

    .post-preview{
      margin-bottom: 10px;
      padding: 0 20px;

      &:first-child,
      &:last-child{
        padding: 0 20px;
      }

      .title{
        margin: 0;
      }

      .description{
        margin-left: 115px;
        height: 60px;
        min-height: 0;
      }

      img{
        height: 80px;
      }
    }

    .carousel-control{
      left: 0;
      &.right{
        left: auto;
        right: 0;
      }
    }
  }

  .clients{
    margin: 2em 0 0;
  }

  .clients-website{
    border: none;
  }

  .page-title{
    margin-top: 2em;
  }

  .sidebar-item{
    padding: 25px 40px 15px;
  }

  .team .row-fluid:last-child .team-member:last-child{
    margin-bottom: 0;
  }

  .team-member img{
    width: 100%;
    height: auto;
  }

  .navigation{
    font-size: $font-size-base;

    .nav{
      float: none;

      > li > a:hover{
        margin: 0 -5px;
        padding: 5px 20px;
      }

      > li:last-child{
        margin-bottom: $line-height-computed; //some additional place for .logo
      }

      li.dropdown > .dropdown-menu{
        position: static;
        float: none;
        width: 100%;
        font-size: $font-size-base;
        text-align: left;
        @include box-shadow(none);

        &:before, &:after{
          display: none;
        }

        > li > a{
          border-top: none;
        }
      }

      li.dropdown:hover,
      li.dropdown.active:hover{
        > .dropdown-toggle{
          margin: 0;
          padding-top: 5px;
          padding-bottom: 5px;
        }
        &:after{
          display: none;
        }
      }
    }

    .nav-item-description{
      font-size: $font-size-small;
    }
  }

  .post-preview{

    & + .post-preview{
      .description{
        border-top: none;
      }

    }
    .description{
      margin-left: 0;
      padding-top: $line-height-computed;
    }
  }

  .post-preview-image img{
    float: none;
    height: auto;
    width: auto;
  }
}

@media (max-width: 480px) {
  .logo{
    .square{
      width: 4px;
      height: 4px;
      border-width: 3px;
    }

    .name{
      font-size: $font-size-base;
    }

    .slogan{
      font-size: $font-size-mini;
    }
  }

  .navbar-toggle .text{
    display: none;
  }

  .page{
    padding: 20px;
  }

  .sidebar-item{
    padding: 25px 20px 15px;
  }
}

//bs3 container override
//
@media (min-width: $screen-tablet) {
  .container {
    width: $container-tablet;
  }
}
@media (min-width: $screen-desktop) {
  .container {
    width: $container-desktop;
  }
}
@media (min-width: $screen-lg-desktop) {
  .container {
    width: $container-lg-desktop;
  }
}
