//////////////////////////////////////
//        Template Variables        //
//////////////////////////////////////

$red: #f24108;

$sidebarWidth: 188px;

$dividerColor: #d7d7d7;
$orangeActiveColor: #f3cb85;

$textColor: #3d3d3d;

$z-index-base: 1100; //need it to be more than revolution slider

$font-size-mini:          11px; // ~11px

//////////////////////////////////////
//          Template Mixins         //
//////////////////////////////////////

@mixin key-frame ($animationName) {
  @-webkit-keyframes $animationName {
    @content;
  }

  @-moz-keyframes $animationName {
    @content;
  }

  @-o-keyframes $animationName {
    @content;
  }

  @keyframes $animationName {
    @content;
  }
}

/*
    Example usage:
    @include animation(10s, 5s, changecolour)
 */
@mixin animation ($delay, $duration, $animation, $count: 1, $timingFunction: ease) {
  -webkit-animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-name: $animation;
  -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
  -webkit-animation-iteration-count: $count;
  -webkit-animation-timing-function: $timingFunction;

  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-name: $animation;
  -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
  -moz-animation-iteration-count: $count;
  -moz-animation-timing-function: $timingFunction;

  -o-animation-delay: $delay;
  -o-animation-duration: $duration;
  -o-animation-name: $animation;
  -o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
  -o-animation-iteration-count: $count;
  -o-animation-timing-function: $timingFunction;

  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animation;
  animation-fill-mode: forwards; /* this prevents the animation from restarting! */
  animation-iteration-count: $count;
  animation-timing-function: $timingFunction;
}

@mixin remove-clearfix(){
  &:before,
  &:after {
    display: none;
  }
  &:after {
    clear: none;
  }
}

//////////////////////////////////////
//   Bootstrap variables override   //
//////////////////////////////////////

$sansFontFamily: sans-serif;
$headings-font-family: 'Nobile', sans-serif;

$baseBorderRadius: 0;
$borderRadiusSmall: 0;
$borderRadiusLarge: 0;

$inputBorderRadius: 4px;

//as of border has been removed need to increase padding by 2px
$paddingLarge:          12px 19px !default; // 44px
$paddingSmall:          3px 10px !default;  // 26px
$paddingMini:           1px 6px !default;   // 22px

$gridColumnWidth:         64px !default;
$gridGutterWidth:         20px !default;

$gridColumnWidth1200:     $gridColumnWidth !default;
$gridGutterWidth1200:     $gridGutterWidth !default;

$btnDangerBackground:               $red !default;
$btnDangerBackgroundHighlight:      $red !default;

$navbarCollapseWidth: 767px;

// Small screen / tablet
$container-tablet:           724px;

// Medium screen / desktop
$container-desktop:           988px;

// Large screen / wide desktop
$container-lg-desktop:        $container-desktop;

//////////////////////////////////////
// Font Awesome Variables Override  //
//////////////////////////////////////

$FontAwesomePath: 'font';