.hidden{
	display:none;
}

#admin-panel{
	width: 986px;
	margin: 45px 0 10px;
	direction: ltr;
	text-align: left;
	float: left;
	margin-left: 30px;
}
#admin-panel-content {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 13px solid #212121;
    float: right;
    min-height: 650px;
    overflow: hidden;
    padding: 40px;
    position: relative;
    width: 650px;
}
#panel-tabs{
	background: none repeat scroll 0 0 #212121;
    float: left;
    padding: 0 36px 30px;
    width: 158px;
}
.note {
    background-color: #FFFFE0;
    border: 1px solid #E6DB55;
    margin-bottom: 14px;
    padding: 10px;
}
.wp-editor-wrap {
    margin-bottom: 20px;
    margin-top: -30px;
    width: 650px;
}
#bottop {
    background: url("../images/save.png") no-repeat scroll left center transparent;
    border: medium none;
    color: #FFFFFF;
    height: 39px;
    margin-bottom: 30px;
    margin-left: -1px;
    width: 94px;
    font-family: Arial;
    font-size: 18px;
}
#botbottom {
    background: url("../images/save.png") no-repeat scroll left center transparent;
    border: medium none;
    color: #FFFFFF;
    height: 39px;
    margin-top: 30px;
    margin-left: -1px;
    width: 94px;
    font-family: Arial;
    font-size: 18px;
}

#panel-logo{
    background: url("../images/bebel.png") no-repeat scroll left center transparent;
    font-size: 34px;
    height: 82px;
    margin: 40px auto 20px;
    text-indent: -2000px;
    width: 82px;
}
#panel-tabs ul{
	border-bottom: 1px solid #111;
}
#panel-tabs ul li:first-child{
	border-top: none;
}
#panel-tabs ul li{
	border-bottom: 1px solid #333;
	border-top: 1px solid #111;
	list-style: none;
	margin:0;
}
.inactive {
	padding: 0 !important;
}
#panel-tabs ul li a {
	color: #999999;
    cursor: pointer;
    display: block;
    font-family: arial;
    font-size: 13px;
    height: 33px;
    outline: medium none;
    padding: 16px 0 0 35px;
    text-align: left;
    text-decoration: none;
    transition: background 0.2s ease-in-out 0s, padding 0.2s ease-in-out 0s;
}
#panel-tabs ul li a:hover{
	color: #FFFFFF;
}
#panel-tabs ul li.active a{
	color: #FFFFFF;
}
#panel-tabs ul li.general-setting a {
    background-image: url("../images/general.png");
    background-position: left 15px;
    background-repeat: no-repeat;
}
#panel-tabs ul li.active.general-setting a {
    background-image: url("../images/general_h.png");
}
#panel-tabs ul li.general-setting a:hover {
    background-image: url("../images/general_h.png");
}
#panel-tabs ul li.homepage-items a {
    background-image: url("../images/home.png");
    background-position: left 16px;
    background-repeat: no-repeat;
}
#panel-tabs ul li.active.homepage-items a {
    background-image: url("../images/homeh.png");
}
#panel-tabs ul li.homepage-items a:hover {
    background-image: url("../images/homeh.png");
}
#panel-tabs ul li.custom-posts a {
    background-image: url("../images/camera.png");
    background-position: left 15px;
    background-repeat: no-repeat;
}
#panel-tabs ul li.active.custom-posts a {
    background-image: url("../images/camera_h.png");
}
#panel-tabs ul li.custom-posts a:hover {
    background-image: url("../images/camera_h.png");
}
#panel-tabs ul li.blog-option a {
    background-image: url("../images/blog.png");
    background-position: left 15px;
    background-repeat: no-repeat;
}
#panel-tabs ul li.active.blog-option a {
    background-image: url("../images/blogh.png");
}
#panel-tabs ul li.blog-option a:hover {
    background-image: url("../images/blogh.png");
}
#panel-tabs ul li.error-page a {
    background-image: url("../images/error.png");
    background-position: left 15px;
    background-repeat: no-repeat;
}
#panel-tabs ul li.active.error-page a {
    background-image: url("../images/error_h.png");
}
#panel-tabs ul li.error-page a:hover {
    background-image: url("../images/error_h.png");
}
#panel-tabs ul li.contact-page a {
    background-image: url("../images/contact.png");
    background-position: left 15px;
    background-repeat: no-repeat;
}
#panel-tabs ul li.active.contact-page a {
    background-image: url("../images/contact_h.png");
}
#panel-tabs ul li.contact-page a:hover {
    background-image: url("../images/contact_h.png");
}
#panel-tabs ul li.social-network a {
    background-image: url("../images/social.png");
    background-position: left 15px;
    background-repeat: no-repeat;
}
#panel-tabs ul li.active.social-network a {
    background-image: url("../images/socialh.png");
}
#panel-tabs ul li.social-network a:hover {
    background-image: url("../images/socialh.png");
}
#panel-tabs ul li.styling-options a {
    background-image: url("../images/styling.png");
    background-position: left 16px;
    background-repeat: no-repeat;
}
#panel-tabs ul li.active.styling-options a {
    background-image: url("../images/styling_h.png");
}
#panel-tabs ul li.styling-options a:hover {
    background-image: url("../images/styling_h.png");
}

.block{
}
.block_title{
	display:none;
}
.block .block-content section{
	padding-top: 8px;
}

.wrap h2.section_title {
    color: #212121;
    font-family: arial;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 20px;
}

.field_row {
    border-bottom: 1px solid #EBEBEB;
    clear: both;
    margin-bottom: 30px;
    padding-bottom: 15px;
}
.field_row label.field-title{
	color: #666666;
    display: inline-block;
    float: left;
    font-family: arial;
    font-size: 11pt;
    margin-bottom: 17px;
    padding-top: 6px;
    width: 272px;
}
.field_row input[type="text"]{
	background: white;
	padding: 4px 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 250px;
	-webkit-box-shadow: 0 1px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px rgba(0,0,0,.05);
	box-shadow: 0 1px rgba(0, 0, 0, .05);
}
.field_row textarea{
	width: 375px;
	height: 190px;
	background: white;
	-webkit-box-shadow: 0 1px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px rgba(0,0,0,.05);
	box-shadow: 0 1px rgba(0, 0, 0, .05);
}
.field_row select{
	width: 250px;
	height:30px;
}

#kkkkkkkkkkk{
	margin:-10px;
	height:130px;
}





.uislider .ui-slider{
	background-color: #F1F1F1;
	background-image: -ms-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -moz-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -o-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#F9F9F9),to(#ECECEC));
	background-image: -webkit-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: linear-gradient(top,#F9F9F9,#ECECEC);
	border:1px solid #E6E6E6;
	height: .8em;
	position: relative;
	text-align: left;
	width:230px;
	margin-top:8px;
	float:left;
	margin-right:15px;
	-moz-border-radius: 5px;
	-khtml-border-radius:5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.uislider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.5em;
	cursor: default;
	background: #89C03E;
	background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#A8D34E),color-stop(100%,#6AAD2D));
	background: -webkit-linear-gradient(top,#A8D34E 0,#6AAD2D 100%);
	background: -moz-linear-gradient(top,#A8D34E 0,#6AAD2D 100%);
	background: -o-linear-gradient(top,#A8D34E 0,#6AAD2D 100%);
	background: -ms-linear-gradient(top,#A8D34E 0,#6AAD2D 100%);
	background: linear-gradient(top,#A8D34E 0,#6AAD2D 100%);
	font-weight: normal;
	color: #555;
	top: -.4em;
	margin-left: -.6em;
	cursor:pointer;
}










.wp-color-picker {
	width: 80px;
}

.wp-picker-container .hidden {
	display: none;
}

.wp-color-result {
	background-color: #f9f9f9;
	border: 1px solid #bbb;
	border-radius: 2px;
	cursor: pointer;
	display: inline-block;
	height: 22px;
	margin: 0 6px 6px 0px;
	position: relative;
	top: 1px;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	vertical-align: bottom;
	display: inline-block;
	padding-left: 30px;
}

.wp-color-result:after {
	background: #f3f3f3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f4f4f4));
	background-image: -webkit-linear-gradient(top, #fefefe, #f4f4f4);
	background-image:    -moz-linear-gradient(top, #fefefe, #f4f4f4);
	background-image:      -o-linear-gradient(top, #fefefe, #f4f4f4);
	background-image:   linear-gradient(to bottom, #fefefe, #f4f4f4);
 	color: #333;
	text-shadow: 0 1px 0 #fff;
	border-radius: 0 1px 1px 0;
	border-left: 1px solid #bbb;
	content: attr( title );
	display: block;
	font-size: 11px;
	line-height: 22px;
	padding: 0 6px;
	position: relative;
	right: 0;
	text-align: center;
	top: 0;
}

.wp-color-result:hover {
	border-color: #aaa;
	-webkit-box-shadow: 0 1px 2px rgba( 0, 0, 0, 0.2 );
	box-shadow: 0 1px 1px rgba( 0, 0, 0, 0.1 );
}

.wp-color-result:hover:after {
	color: #222;
	border-color: #aaa;
	border-left: 1px solid #999;
}

.wp-color-result.wp-picker-open {
	top: 0;
}

.wp-color-result.wp-picker-open:after {
	content: attr( data-current );
}

.wp-picker-container, .wp-picker-container:active {
	display: inline-block;
	outline: 0;
}

.wp-color-result:focus {
	border-color: #888;
	-webkit-box-shadow: 0 1px 2px rgba( 0, 0, 0, 0.2 );
	box-shadow: 0 1px 2px rgba( 0, 0, 0, 0.2 );
}

.wp-color-result:focus:after {
	border-color: #888;
}

.wp-picker-open + .wp-picker-input-wrap {
	display: inline-block;
	vertical-align: top;
}

.wp-picker-container .button {
	margin-left: 6px;
}

.wp-picker-container .iris-square-slider .ui-slider-handle:focus {
	background-color: #555
}

.wp-picker-container .iris-picker {
	border-color: #dfdfdf;
	margin-top: 6px;
}

input[type="text"].iris-error {
	background-color: #ffebe8;
	border-color: #c00;
	color: #000;
}

.field_row input.wp-color-picker{
	width: 74px;
}


.field_row div.upload{
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.row{
	float: left;
	margin: 0 5px 10px 0;
}
.radio-img-img {
	cursor: pointer;
	float: left;
	padding: 3px;
	border: 3px solid #F0EEEE;
}
.radio-img-selected{
	padding: 3px;
	border: 3px solid #D5D5D5;
}
.radio-img-radio{
	display: none;
}
.radio-img-label{
	display: none;
}




ul.checkbox_img{

}
ul.checkbox_img li span{
	display: block;
	padding: 5px;
	padding-left: 30px;
	background: url(../images/a_0.png) no-repeat left center;
	cursor: pointer;
	font-size: 14px;
}
ul.checkbox_img li.checkbox_img-selected span{
	background: url(../images/a_1.png) no-repeat left center;
}

ul.checkbox_img li input{
	display: none;
}

ul.radio-list{

}
ul.radio-list li span{
	display: block;
	padding: 5px;
	padding-left: 27px;
	background: url(../images/b_0.png) no-repeat left center;
	cursor: pointer;
	font-size: 14px;
}
ul.radio-list li.radio-list-selected span{
	background: url(../images/b_1.png) no-repeat left center;
}

ul.radio-list li input{
	display: none;
}


div.on-off{
	float: left;
}
div.on-off input{
	display: none;
}
div.on-off span{
	background: url("../images/c_0.png") no-repeat scroll left center transparent;
    cursor: pointer;
    display: block;
    font-size: 14px;
    height: 20px;
    margin-top: 4px;
    overflow: hidden;
    text-indent: -9999px;
    width: 71px;
}
div.on-off.on-botton span{
	background: url(../images/c_1.png) no-repeat left center;
}